flask==3.0.0
flask-cors==4.0.0
requests==2.31.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
python-dotenv==1.0.0
gunicorn==21.2.0
Pillow==10.4.0
numpy==1.26.4
rembg==2.0.69
onnxruntime==1.18.1
bcrypt==4.1.3
